body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  opacity: 1.0;
}

.form-signin {
  max-width: 650px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="phoneNumber"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
  align-self: center;
  max-width: 650px;
}

.btn-danger {
  color: #ffff33;
  background-color: black;
}

.btn-success {
  color: black;
  background-color: #ffff33;
}

.table-bordered{
  color: black;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffe6;
  border-color: black;
  text-align: left;
}

.centreMe {
  text-align: center;
}
